<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>255</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>255</data>
      <data>129</data>
      <data>189</data>
      <data>189</data>
      <data>189</data>
      <data>189</data>
      <data>129</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>1</data>
      <data>32</data>
      <data>4</data>
      <data>65</data>
      <data>8</data>
      <data>0</data>
      <data>66</data>
      <data>8</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>0</data>
      <data>32</data>
      <data>2</data>
      <data>0</data>
      <data>0</data>
      <data>8</data>
      <data>64</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>32</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>4</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
</charset>
